[Unit]
Description=Abacus hardware adapter
After=multi-user.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
Environment=LD_LIBRARY_PATH=/home/miwa/development/pythons/abhard/lib
WorkingDirectory=/home/miwa/development/pythons/abhard
ExecStart=/usr/bin/python3 /home/miwa/development/pythons/abhard/src/abhard.py

[Install]
WantedBy=multi-user.target

